* {
	// border: 1px solid red;
	box-sizing: border-box;
}

main {
	max-width: 900px;
	margin: 0 auto;

	border: 1px solid blue;
}

.test,
.object,
.item {
	height: 50px;
	background: #829392;
	// margin: 20px;
}

.child {
	height: 20px;
	background: #347842;
	align-self: center;
	margin-bottom: 0 !important;
}

// dev ////////////////////////////////////////////////////////////

// @mixin img-col($img-PerRow, $img-margin) {
// 	width: ((100% - (($img-PerRow - 1) * $img-margin)) / $img-PerRow);
// 	&:nth-child(n) {
//   		margin-bottom: $img-margin;
//     	margin-right: $img-margin;
// 	}
// 	&:nth-child(#{$img-PerRow}n) {
// 		margin-right: 0;
// 	}
// }


@mixin calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}: calc(#{$value});
}

// die hilfs klasse muss raus! ansonsten ist keine responsive-ness gewährleistet
//gird item? -> mehr felx optionen (layouts, sticky footer und v-centering)
$duppa: 12 !default;
$duppa2: 1% !default;
$duppa3: $duppa2 !default;

//grid
@mixin flx-container($huppa: $duppa, $huppa2: $duppa2, $huppa3: $duppa3) {
	display: flex;
	flex-wrap: wrap;

	@if $duppa3 == $huppa3 {
		$huppa3: $huppa2;
	}

	$test: $huppa !global; //$flx-max: $test,
	$test2: $huppa2 !global; //$flx-margin-right
	$test3: $huppa3 !global; //$flx-margin-bottom
}



@mixin flx-item($flx-with, $test: $test, $test2: $test2, $test3: $test3) {

	// $item: ($test / $flx-with);
	$item-one: (($flx-with /$test) * 100%);

	// $item-2: ((100 - (($item - 1) * $test2)));







	// flex-grow: $item-one;

	// flex: 1;

	// @function tint($color, $amount: 50%) {
	// 	@if $color == transparent { $color: rgba(white, 0); }
	// 	@return mix($color, white, $amount);
	// }

	// @if type-of($test2) == number and unit($test2) == "%" {content: "red";}

	// @if unit($test2) == "%" { flex-basis: ((100% - (($item - 1) * $test2)) / $item);}
	// @if unit($test2) == "px" or "em" or "ex" {
		// @include calc(flex-basis, "#{$item-one} - #{$test2}");

		@include calc(flex-basis, "#{$item-one} - #{$test2}");

		// felx-basis: -webkit-calc(100% - #{$item-2});
		// felx-basis: calc(100% - #{$item-2});

		&.rw-nd {
			// flex-basis: $item-one;

		}
	// }




	//le problem: !!!!!
	margin: 0 $test2 $test3 0;

	@if $flx-with == 0 {
		margin: 0;
		display: none;
		visibility: hidden;
	}

	// &.rw-nd { //quickfix
	// 	margin-right: 0;
	// }

	// @if $test == $duppa {

	// }
	// @else {
	// 	$test: $duppa !global;
	// }

	// @if $test2 == $duppa2 {

	// }
	// @else {
	// 	$test2: $duppa2 !global;
	// }

	// @if $test3 == $duppa3 {

	// }
	// @else {
	// 	$test3: $duppa3 !global;
	// }

}


// mögliche Lösung: breiten problem
	// @include calc(width, "100% + 10px");
	// margin-right: -10px;

// dev //////////////////////////////////////////////////////////// end

// flxgrd ///////////////////////////////// test

.grd-bx {
	@include flx-container;

	.test {
		@include flx-item(4);
	}

	.object {
		&.one {
			@include flx-item(4);
		}
		&.tow {
			@include flx-item(8);
			@include flx-container(14);

			.child {
				@include flx-item(7);

				&.try {
					// @include flx-item(7);
				}
			}
		}
	}

	.item {
		&.one {
			@include flx-item(1);
		}
		&.tow {
			@include flx-item(6);
		}
		&.three {
			@include flx-item(3);
		}
		&.four {
			@include flx-item(2);
		}
	}
}