// flx-grid v1.0
//
// 2016 by Felix Kalkuhl


// 1. variables
//

// 1.1 lists
$flx-modes: 		grid, experimental;
$flx-directions: 	row, row-reverse, column, column-reverse; // similar to "flex-direction"

// 1.2 default values
$flx-units:			12 				!default; // quantity of grid units
$flx-margin: 		10px 			!default; // primary gutter (perpendicular to flex direction)
$flx-margin-b: 		$flx-margin 	!default; // secondary gutter (prallel to flex direction) - if undefined equal to $flx-margin

$flx-mode:			nth($flx-modes, 1) !default; // default "grid"
$flx-direction:		nth($flx-directions, 1) !default; // default "row"

// 2. functions
//

// 2.1 "grid" mode
@function flx-calc($flx-width, $flx-units: $flx-units; $flx-margin: $flx-margin){
	@return calc(#{(($flx-width / $flc-units) * 100%)} - #{((($flx-units - $flx-width) / $flx-units) * $flx-margin)});
}

// 2.2 "experimental" mode
@function flx-calc-experimantal($flx-width, $flx-units: $flx-units; $flx-margin: $flx-margin){
	@return calc(#{(($flx-width / $flc-units) * 100%)} - #{$flx-margin});
}

// 3. mixins
//

// 3.1 settings // streichen
// @mixin flx-settings($flx-a: null, $flx-b: null) {
// 	@if $flx-a {
// 		@each $mode in $flx-modes {
// 			@if $flx-a == $mode {
// 				$flx-mode: $flx-a !global;
// 				@if $flx-b {
// 					$flx-direction: $flx-b !global;		
// 				}
// 			} @else {
// 				$flx-direction: $flx-a !global;	
// 				@if $flx-b {
// 					$flx-mode: $flx-b !global;		
// 				}	
// 			}
// 		}
// 	}
// }

// 3.1 container
@mixin flx-container($flx-a: null, $flx-b: null, $flx-c: null, $flx-d: null, $flx-e: null) {

}


// 3.2 item
@mixin flx-item($flx-a: null, $flx-b: null, $flx-c: null, $flx-d: null, $flx-e: null) {
	
}
// 3.3 last
@mixin flx-last($flx-a: null) {
	@if $flx-mode == "grid" {
		@if $flx-a {
			&:nth-child(#{$flxlst}) {
				margin-#{$flxlstd}: 0;
			}
		} @else {
			margin-#{$flxlstd}: 0;			
		}
	} @else {
		@warn "flx-grid warn: flx-last only nessesary in gird mode";
	}
}