* {
  box-sizing: border-box; }

main {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid blue; }

.test,
.object,
.item {
  height: 50px;
  background: #829392; }

.child {
  height: 20px;
  background: #347842;
  align-self: center;
  margin-bottom: 0 !important; }

.grd-bx {
  display: flex;
  flex-wrap: wrap; }
  .grd-bx .test {
    flex-basis: -webkit-calc(33.3333333333% - 1%);
    flex-basis: calc(33.3333333333% - 1%);
    margin: 0 1% 1% 0; }
  .grd-bx .object.one {
    flex-basis: -webkit-calc(33.3333333333% - 1%);
    flex-basis: calc(33.3333333333% - 1%);
    margin: 0 1% 1% 0; }
  .grd-bx .object.tow {
    flex-basis: -webkit-calc(66.6666666667% - 1%);
    flex-basis: calc(66.6666666667% - 1%);
    margin: 0 1% 1% 0;
    display: flex;
    flex-wrap: wrap; }
    .grd-bx .object.tow .child {
      flex-basis: -webkit-calc(50% - 1%);
      flex-basis: calc(50% - 1%);
      margin: 0 1% 1% 0; }
  .grd-bx .item.one {
    flex-basis: -webkit-calc(7.1428571429% - 1%);
    flex-basis: calc(7.1428571429% - 1%);
    margin: 0 1% 1% 0; }
  .grd-bx .item.tow {
    flex-basis: -webkit-calc(42.8571428571% - 1%);
    flex-basis: calc(42.8571428571% - 1%);
    margin: 0 1% 1% 0; }
  .grd-bx .item.three {
    flex-basis: -webkit-calc(21.4285714286% - 1%);
    flex-basis: calc(21.4285714286% - 1%);
    margin: 0 1% 1% 0; }
  .grd-bx .item.four {
    flex-basis: -webkit-calc(14.2857142857% - 1%);
    flex-basis: calc(14.2857142857% - 1%);
    margin: 0 1% 1% 0; }
